<div>
    <h3 style="text-decoration: underline;">TripregistrationDetails</h3>
    <table border="1px">
    
            <tr>
                    <td><input type="text" [(ngModel)]="tripregstndetail.airlineName" placeholder="Enter airlineName"></td>
            </tr>
            <tr>
                    <td><input type="text" [(ngModel)]="tripregstndetail.PassngrName" placeholder="Enter Passngr Name"></td>
            </tr>
            <tr>
                    <td><input type="text" [(ngModel)]="tripregstndetail.email" placeholder="Enter Passngr Email"></td>
            </tr>
            <tr>
                    <td><input type="text" [(ngModel)]="tripregstndetail.PassngrId" placeholder="Enter PassngrId"></td>
            </tr>
    
            
    </table>
    
    
            <button (click)="tripregstndetails()">Submit</button>
    
    
    </div>